certifi==2019.6.16
chardet==3.0.4
DateTime==4.3
defusedxml==0.6.0
Django==2.2.3
django-allauth==0.39.1
django-schedule==0.5b0
django-user-agents==0.4.0
future==0.17.1
idna==2.8
Markdown==3.1.1
markdown2==2.3.8
Naked==0.1.31
oauthlib==3.0.2
PyJWT==1.7.1
python-dateutil==2.8.0
python-twitter==3.5
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
South==1.0.2
sqlparse==0.3.0
ua-parser==0.8.0
urllib3==1.25.3
user-agents==2.0
vobject==0.9.6.1
zope.interface==4.6.0
