<!DOCTYPE html>
<html>
    <head>
        <title>JON.NETWORK Logout</title>
        <link rel="stylesheet" type="text/css" href="https://jon.network/index_css.css">
    </head>
    <body>
        <div id="top">
            <div class="row"> <!--TOP ROWS-->
                <div class="colt"> <!--GIT LINK-->
                    <a href="https://github.com/JonPizza" target="_blank"><img alt="github" class="scaled_imgs" src="https://jon.network/github.png"></a>
                </div> <!--END GIT LINK-->
                
                <div style="width:40%" class="colt"> <!--JON NETWORK-->
                    <a href="https://jon.network" style="text-decoration:none;"><h1 style="margin:0;font-size:3.2rem;text-align:CENTER;color:#333333;font-family: monospace;">&#60;J<img src="https://jon.network/nwk.png" alt="coding-logo" style="height:2.3rem">N.NETWORK&#47;&#62;</h1></a>
                </div> <!--END JON NETWORK-->
                
                <div class="colt"> <!--BTC-->
                    <img alt="bitcoin" class="scaled_imgs" src="https://jon.network/btc-logo.png">
                </div> <!--BTC-->
                
                <div class="colt" style="width:13%;font-size:2rem;text-align:CENTER;vertical-align:middle;line-height:200%;"> <!--BTC PRICE-->
                    <div id="btc_price">$</div>
                </div> <!--BTC PRICE-->
                
                <div class="colt"> <!--XMR-->
                    <img class="scaled_imgs" alt="monero" src="https://jon.network/rsz_monero-logo-png-transparent.png">
                </div> <!--XMR-->
            
                <div class="colt" style="width:13%;font-size:2rem;text-align:CENTER;vertical-align:middle;line-height:200%;"> <!--XMR PRICE-->
                    <div id="xmr_price">$</div>
                </div> <!--XMR PRICE-->
                
                <div class="colt"> <!--RVN-->
                    <img class="scaled_imgs" alt="ravencoin" src="https://jon.network/ravencoin-logo.png">
                </div> <!--RVN-->
                
                <div class="colt" style="width:13%;font-size:2rem;text-align:CENTER;vertical-align:middle;line-height:200%;"> <!--RVN PRICE-->
                    <div id="rvn_price">$</div>
                </div> <!--RVN PRICE-->
            </div> <!--END TOP ROWS-->
        </div>
        
        
        
        <div id="homepage">
            <div id="header" style="float:right;">
                <h1 style="font-size:3rem;">Logged Out of Jon's Network</h1>
                <hr />
                <a href="https://www.jon.network" style="color:white;font-size:2rem;">Back to site</a>
                <br />
                <a href="https://www.jon.network/acct/login" style="color:white;font-size:2rem;">Login</a>
            </div>
        </div>
        
        <script src="https://jon.network/crypto_price_api.js"></script>
    </body>
</html>