<!DOCTYPE html>

<html>
    <head>
        <title>Home - Jon's Network</title>
        <style>
            #left-navbar {
                position: absolute;
                top: 0;
                width: 30%;
                height: 100%;
                background-color: #2d2d2d;
                color: white;
            }
            
            .light-link {
                color: #8cffff;
                text-decoration: none;
            } .light-link:hover {
                color: #17a5a5;
            }
        </style>
    </head>
    
    <body>
        <div id="left-navbar">
            <br>
            <br>
            <br>
            <div>
                <a href="/programming/share" class="light-link">Share Article</a>
            </div>
        </div>
    </body>
</html>